.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: translateZ(0);
}

.card:hover {
    transform: scale(1.01);
    border-color: #0dcaf0 !important;
    box-shadow: 0 0 15px rgba(13, 202, 240, 0.3) !important;
}

body {
    background:
            linear-gradient(rgba(58, 58, 58, 0.5), rgba(1, 16, 59, 0.5)),
            url('img/222.jpg');
    background-size: 140%;

    background-position: center;  /* Центрировать */
    background-attachment: fixed; /* Картинка не движется при скролле */
    background-repeat: no-repeat;
    color: #f8f9fa;               /* Светлый текст по умолчанию */
}

#author-section {
    background:
            linear-gradient(rgba(58, 58, 58, 0.5), rgba(1, 16, 59, 0.5)),
            url('img/66.jpg');

    background-size: 120%;
    background-position: center;
    color: #f8f9fa;
}

#author-section {
    background: transparent !important;
}

.author-card {
    /* Основной полупрозрачный фон островка */
    background: rgba(20, 20, 20, 0.6) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    /* Скругление и границы */
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.08);

    /* Убираем любые стандартные тени и добавляем свою мягкую */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4) !important;
}

/* Это поможет убрать резкие границы */
.container, .container-fluid {
    background-color: transparent !important;
}